@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this CSS for better tooltip visibility */
.__react_component_tooltip {
  background: #333;
  color: #fff;
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}